<!-- <header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav> -->
<header>
  <h1>CommunityStop.Org</h1>
  <h3> 00 : 00 AM/PM </h3>
</header>
